header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);

  }
  
  .logo {
    height: 50px; 
    margin-right: 20px; 
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    margin: 0;
    font-size: 18px; 
    color: #000
  }
  
  h2 {
    margin: 0;
    font-size: 16px; 
    color: #a9a9a9 
  }
  